.requirementHeader {
  padding: 2%;
}

.reqHeaderWrapper {
  max-width: 960px;
  margin: 0 auto;
}

.careerHeader,
.newGraduateHeader {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

a.reqTypeBtn {
  width: 33.2%;
  text-align: center;
  background: #d8d8d8;
  color: #6e6e6e;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.3em;
  border-radius: 20px;
  padding: 10px 0;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px;
}

a.reqTypeBtn:hover {
  background: #00bcd4;
  color: #ffffff;
  transition: none;
  opacity: 1;
}

.requirementHeader .active {
  background: #00bcd4;
  color: #ffffff;
}

.requirementContent {
  margin: 70px auto;
}

.contents:not(#careerSe) {
  display: none;
}
