.profile-title{
    display: inline-block;
    margin-right: 2em;
    font-weight: bold;
    color: #ffb2ff;
}
.profile ul li{
    display: flex;
}
@media screen and (max-width: 767.98px){
    .profile-title{
        width: 11.3em;
        margin-right: .5em;
    }
}