.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 6rem;
}

.headerLogo {
  margin-left: 20px;
  color: dimgray;
}

.headerList {
  list-style: none;
  display: flex;
}

.headerListContents {
  display: block;
  margin-right: 20px;
  width: 200px;
  height: 52px;
}

.headerListContents a {
  text-decoration: none;
  color: dimgray;
}

.panels {
  height: calc(100% - 60px);
}

.panels section h1 {
  margin-bottom: 3rem;
  padding: 0px 100px;
  font-size: 3rem;
}

.panels section p {
  margin: 0;
}
a.tabButton {
  height: 70px;
  text-align: center;
  background: #d8d8d8;
  color: #6e6e6e;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.3em;
  border-radius: 20px;
  padding: 10px 0;
  margin: 0 5px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px;
}

a.tabButton:hover {
  background: #00bcd4;
  color: #ffffff;
  transition: none;
  opacity: 1;
}

.headerListContents .active {
  background: #00bcd4;
  color: #ffffff;
}

.shoutenSec {
  margin-bottom: 3rem;
}

#kutsurogi {
  display: none;
}
#isuzu {
  display: none;
}
#kuriko {
  display: none;
}
#baika {
  display: none;
}
#ryu {
  display: none;
}

/* sns風 */

.line-bc {
  padding: 20px 10px;
  max-width: 800px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  text-align: left;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

@media screen and (max-width: 767.98px) {
  .line-bc {
    max-width: 450px;
  }
}
/* sns風 */
