body{
    margin: 0;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: #fff;
    background-color: #000;
    padding: 1vh 0 1vh 1vh;
    margin: 0;
}

.row{
    display: flex;
    justify-content: space-around;
    margin: 3vh;
}
.row div{
    height: 20vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}
#bnr1-1{
    background-color: #89ff89;
}
#bnr1-2{
    background-color: #ff89c4;
}
#bnr1-3{
    background-color: #89c4ff;
}
#bnr2-1{
    background-color: #ff8989;
}
#bnr2-2{
    background-color: #89ffc4;
}
#bnr2-3{
    background-color: #ff89ff;
}
#bnr3-1{
    background-color: #8989ff;
}
#bnr3-2{
    background-color: #ffff89;
}
#bnr3-3{
    background-color: #c4ff89;
}

#PR{
    text-align: center;
}